h1, h2,h3, body {
    color: #2B2D42;
}

.photo {
  width: 30rem;
  box-shadow: 0 .1rem .1rem 0 rgba(0,0,0,0.2);
  transition: 0.3s;

}


.button:hover,button:hover {
  background-color: #FFD469;

}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    color: #939393;
}
