body {
  color: #F1F0EA;
  background-color: #272E5C;
}

input, select, textarea {
    width: 100%;
    padding: .8rem;
    margin: .4rem;
    display: inline-block;
    border: 1px none;
    border-radius: .3rem;
    box-sizing: border-box;
}


button, input[type=submit] {
  color: #939393;
  width: 100%;
  padding: .8rem;
  margin: .4rem;
  display: inline-block;
  border: 1px none;
  border-radius: .3rem;
  box-sizing: border-box;
  background-color: #FFD876;
  box-shadow: 0 .1rem .1rem 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

button:hover {
  background-color: #FFD469;
}
