html, body {
  font-family: 'Open Sans', sans-serif;
  color: #F1F0EA;
  background-color: #222751;
}


.body-text {
  color: #F1F0EA;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.navbar {
    padding-top: 3em;
    padding-bottom: 3em;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    padding-right: 0em;
    font-size: .9em;
    background-color: #222751;
}

.navbar-nav li a:hover {
    color: #BBB; !important;
}

.bg-1 {
    background-color: #222751; /* Navy Blue */
}

.bg-2 {
    background-color: #474e5d; /* Dark Blue */
}
.bg-3, #id3 {
    background-color: #F1F0EA; /* White */
    color: #555555;
}

.bg-4 {
  padding: .9rem;
  font-size: 1em;
  background-color:#222751;
  color: #ffffff;
}
