
.welcome {
  min-height: 100%;
  height: 100vh;
  text-align: center;
  padding: 20px;
  padding-bottom: 50px;
}

.name {
  padding: 25px;
  width: 65%;
  height: auto;
  max-width: 900px;
}

.about {
  height: 75vh;
  width: 100%;
  padding: 50px;
  text-align: left;
  background-color: #AAA;
  opacity: .95;
}

.skills {
  height: 80vh;
  width: 100%;
  padding: 50px;
  text-align: left;
  background-color: #2B315C;
}


/**#selfie {
    text-align: right;
    width: 500px;
  	height: 500px;
  	background: #DDD;
  	-moz-border-radius: 50%;
  	-webkit-border-radius: 50%;
  	border-radius: 50%;
}**/
