/**** DOC STYLE ****/

html, body {
  background-color: #fbfbfb;
  color: #454545;
}

.img-tag {
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/************************************/

/**** TYPOGRAPHY ****/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Playfair+Display:400,600,900');
h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
}

h1 {
  font-size: 275%;
  color: #fff;
}

h2 {
  color: #3C7072;
}

h4 {
  font-size: 100%;
}

p, body {
  line-height: 24px;
  color: #454545;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.navbar-dark {
  background-color: grey;
}

.text-link {
  text-decoration: underline;
  color: #DBA367;
}

.text-link:hover {
  text-decoration: underline;
  color: #EDBF8E;
}

.btn-outline-info:hover {
  background-color: #69B2B5;
}

/************************************/

/**** HEADER + FOOTER ****/

header, footer {
  font-weight: 300;
  padding-left: 2%;
  padding-right: 2%;
}

footer {
  font-size: 13px;
  margin-top: 0%;
  margin-bottom: 3%;
}

.li-foot {
  padding-right: 5px;
  color: #2E2E2E;
}

.li-foot:hover {
  color: #7C7C7C;
}

.nav-link {
  text-decoration: none;
  color: #2E2E2E;
}

.nav-link:hover {
  color: #7C7C7C;
}

nav a.current {
  text-decoration: underline;
}

/************************************/

/**** JUMBOTRON ****/

.intro-bg {
  height: 32vh;
  background-color: #ADD1D3;
  border-bottom: 4px solid #69B2B5;
}

.intro-div {
  padding: 2%;
  margin: 4% 0 0% 2%;
}

/************************************/

/**** CONTENT CARDS ****/

.content-body {
  height: 100%;
  padding: 3% 6% 7% 6%;
}

.content-divs {
  padding: 2%;
  margin: 6% 2% 4% 4%;
  background-color: #fff;
  border-radius: 1%;
}
.card-section {
  padding: 0% 2% 2% 4%;
}

/************************************/

/****VISUALS + PROTOTYPE CARDS ****/

.other1, .other {
  margin-bottom: 4%;
  height: 32vh;
  padding: 7%;
}

.border-teal {
  border-color: #69B2B5;
}

.card {
  width: 100%;
  text-align: center;
}



.card-img {
  opacity: .3;
}

.card-title {
  padding: 2% 0% 0% 0%;
}

/************************************/
