/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Header/Footer
- Index elements
*/

/*
{% include header.html %}
<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

{{ content }}

<!-- Header
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
{% include footer.html %}
 HEADER/FOOTER  –––––––––––––––––––––––––––––––––––––––––––––––––– */
 .subtitle {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* or 125% */
  display: flex;
  letter-spacing: 0.04em;

  color: #70728F;
 }
 strong{
   font-weight:bold;
   font-size: 17px;
   line-height: 125%;
   letter-spacing: 0.04em;
   color: #333547;
 }
 .secondary{
   font-family: Lato;
   font-size: 18px;
   line-height: 140%;
   letter-spacing: 0.04em;

   color: #2F2F37;
 }
 blockquote {
   font-size: 1.8rem;
   background: #F4F4F6;
   border-left: 10px solid #E2E3E9;
   margin: 1.5em 10px;
   padding: 0.5em 10px;
   quotes: "\201C""\201D""\2018""\2019";
 }
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 64%;
  max-width: 90%;
}
header a.current {
  text-decoration: underline;
  color:#44498B;
}
header,footer {
  overflow: hidden;
  padding: 1% 6% 1% 6%;
}

header a, footer a {
  float: right;
  color: #333;
  text-align: center;
  padding: 6px;
  text-decoration: none;
  border-radius: 4px;
}
footer a {
  color: #333;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  border-radius: 4px;
}
.caption {
    text-align: center;
    color: #696B7C;
    font-weight: 400;
}
.foot-left {
  float: left;
}
.li-foot {
  padding-right: 5px;
  color: #2E2E2E;
}

.li-foot:hover {
  color: #7C7C7C;
}

/* Color Palette on Style Guide –––––––––––––––––––––––––––––––––––––––––––––––––– */

.color400 {
  width: 100%;
  height: 64px;
  background: #323667;
}

.color300 {
  width: 100%;
  height: 64px;
  background: #404585;
}
.color200{
  width: 100%;
  height: 64px;
  background: #4F55A3;
}

.color100{
  width: 100%;
  height: 64px;
  background: #5D64C1;
}
.grey300 {
  width: 100%;
  height: 64px;
  background: #333547;
}
.grey200 {
  width: 100%;
  height: 64px;
  background: #81839C;
}
.grey100{
  width: 100%;
  height: 64px;
  background: #E2E3E9;
}
.white100 {
  width: 100%;
  height: 64px;
  background: #F4F4F5;
  border: 0.8px solid #333547;
  /*box-sizing: border-box;*/
}

/* Index Elements  –––––––––––––––––––––––––––––––––––––––––––––––––– */

.intro {
  margin-top: 5%;
  padding: 10% 5% 4% 0%;
  height:80vh;
}
.border-line {
  padding-top: 2em;
  border-bottom: 1px solid #81839C;
}
.project {
margin: 12% 0% 12% 0%;
}

/* –––––––––––––––––––––––––––––––––––––––––––––––––– */
.previous {
  text-align: left;

}
.next{
  text-align: right;

}
/* Jribbble shots  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.dribbble-shots-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.dribbble-shots-list li {
  margin: 5px;
  /*box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #dfdfdf;*/
}
.dribbble-shots-list img {
  width: 300px;
  padding: 5px;
  display: block;
  margin: 0;
}
