body {
  background-repeat: repeat;
  background-color: #324376;
  color: #586ba4;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

h1 {
 color: #e8eddf;
 font-family: 'Nunito Sans', sans-serif;
 font-size: 65px;
}
h2 {
  color: #1E2749;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 50px;
}
h3 {
  color: #cfdbd5;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 35px;
}
p {
  color: #13293D;
  font-size: 17px;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
