h1, h2,h3, h4, body {
    color: #2B2D42;
}


ul.contact, a.contact {
    color: #222751;
    font-family: 'Nunito Sans', sans-serif;
    padding: 1rem 5rem 0 1rem;
    list-style: none;
}
li.contact {
    display: inline;
    margin-right: .94rem;
}


.list {
  font-size: .9rem;
  font-family: 'Roboto', sans-serif;
  margin: .5rem;
  padding: .4rem 0 0rem 0;
}
dt,dd{
  display: inline;
}

#container {
  width: 100%;
  background-color: #F1F0EA;
  text-align: left;
  padding: 2rem 9rem 3rem 9rem;
}

.break {
  height: .05rem;
  color: #222751;
  background-color: #222751;
  border: 0;
  margin: 0;
  padding: 0;
}


.button,button {
  color: #939393;
  width: 15rem;
  padding: .8rem;
  margin: .4rem;
  display: inline-block;
  border: 1px none;
  border-radius: .35rem;
  box-sizing: border-box;
  background-color: #FFD876;
  box-shadow: 0 .1rem .1rem 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.button:hover,button:hover {
  background-color: #FFD469;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    color: #939393;
}
