body {
  color: #F1F0EA;
  background-color: #272E5C;
}

.frame {
  width: 100%;
  text-align: left;
  padding: 2rem 9rem 2rem 9rem;
}

.divider {
  height: 1px;
  color: #FFD876;
  background-color: #FFD876;
  border: 0;
  margin: 0;
  padding: 0;
}

.break {
  height: 1px;
  color: #222751;
  background-color: #222751;
  border: 0;
  margin: 0;
  padding: 0;
}

#card {
  align-items: center;
  margin:  1rem 0 1.5rem 0;
  background-color: #F1F0EA;
  height: 18rem;
  width: 61rem;
  border-radius: .35rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

#card:hover {
    background-color: #FFD876;
    opacity: .81;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
