<footer class="row footer-links">
  <div class="col-md-4">
  </div>
  <div class="col-6 col-sm-1">
    <a href="https://angel.co/silviafuen"><img class="icon-link" src="assets/icons/AngelList-White-Victory-Hand.png" alt="Behance portfolio"></a>
  </div>
  <div class="col-6 col-sm-1">
    <a href="https://www.behance.net/user/?username=silviafuen"><img class="icon-link" src="assets/icons/behance-logo.png" alt="Behance portfolio"></a>
  </div>
  <div class="col-6 col-sm-1">
    <a href="https://github.com/silviafuen"><img class="icon-link" src="assets/icons/Octocat.png" alt="github page"></a>
  </div>
  <div class="col-6 col-sm-1">
    <a href="https://www.linkedin.com/in/silviafuen/"><img class="icon-link" src="assets/icons/In-White-128px-TM.png" alt="Linkedin Profile"></a>
  </div>
  <div class="col-12">
    <p>designed & developed by <a class="text-link" href="https://github.com/silviafuen/silviafuen.github.io">silviafuen</a>. &#xA9; 2018</p>
  </div>
</footer>
