<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700|Roboto">
		</head>
		<header>
			<a href="/index.html"><img class="logo" width="50%" height="50%" src="/images/name-logo-yellow.png" alt="hi" class="inline" align="left"></a>
			<nav align="right">
	    		<ul>
		        	<li><a href="/about">works</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/contact">contact</a></li>
	    		</ul>
			</nav>
		</header>
			<body>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
				<ul>
					<li><a href="mailto:hankquinlanhub@gmail.com">linked in</a></li>
					<li><a href="https://github.com/silviafuen/silviafuen.github.io"><img src="images/icons/github.png" class="inline"></a></li>
					<li><a href="https://github.com/hankquinlan">behance</a></li>
					<li><a href="https://github.com/hankquinlan">email</a></li>
				</ul>
				<p>© 2017 copyright silviafuentes.me</p>
			</footer>
		</body>
	</html>
