<!DOCTYPE html>
	<html lang="en">

		<head>
			{% include analytics.js %}
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700|Open+Sans">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" ></script>
			<link rel="shortcut icon" href="favicon.ico" />
		</head>

		{% include header.html %}
		<body>

			{{ content }}

			<!-- /.container -->

</body>
	{% include footer.html %}

</html>
