<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<img class="nav-logo" src="silviafuen.github.io/_images/name-logo-yellow.png" height="10%" width="10%">
			<nav align="right">
	    		<ul>
		        	<li><a href="/about">works</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">contact</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
			<div class="footer">	
				<ul align="center">
					<li><a href="mailto:hankquinlanhub@gmail.com">linked in</a></li>
					<li><a href="https://github.com/hankquinlan">github.com</a></li>
					<li><a href="https://github.com/hankquinlan">behance</a></li>
					<li><a href="https://github.com/hankquinlan">email</a></li>
				</ul>
				<p>© 2017 copyright silviafuentes.me</p>
			</div>
			</footer>
		</body>
	</html>
