<!doctype html>
<html lang="en">

<head>
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <!-- Primary Meta Tags -->
  <title>Silvia Fuentes, Product Designer</title>
  <meta name="title" content="Silvia Fuentes, Product & Experience Designer">
  <meta name="description" content="I create products and experiences that move us toward a more inclusive future and serve marginalized peoples.">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://silviafuen.github.io/">
  <meta property="og:title" content="Silvia Fuentes, Product & Experience Designer">
  <meta property="og:description" content="I create products and experiences that move us toward a more inclusive future and serve marginalized peoples.">
  <meta property="og:image" content="assets/meta.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://silviafuen.github.io/">
  <meta property="twitter:title" content="Silvia Fuentes, Product & Experience Designer">
  <meta property="twitter:description" content="I create products and experiences that move us toward a more inclusive future and serve marginalized peoples.">
  <meta property="twitter:image" content="https://silviafuen.github.io/meta.png">
  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <style>
  @import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Lalezar&display=swap');
  </style>
  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" href="css/simple-lightbox.min.css" />
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" href="assets/favi.ico">
</head>

<body>
  {% include header.html %}
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {{ content }}

  {% include footer.html %}
  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>

</html>
