<!DOCTYPE html>
	<html lang="en">
		<head>
			{% include analytics.js %}
			<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" href="bootstrap/css/bootstrap.css">
			<link rel="stylesheet" href="bootstrap/css/bootstrap-responsive.css">
			<link rel="stylesheet" type="text/css" href="/css/index.css">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700|Open+Sans" rel="stylesheet">
			<link rel="shortcut icon" href="favicon.ico" />

		</head>
		<header>
			<div class="nav navbar-right">
				<div class="navbar-inner">
					<nav>
						<ul>
								<li><a href="/bio">bio</a></li>
								<li><a href="/resume">resume</a></li>
								<li><a href="/blog">work</a></li>
								<li><a href="/contact">contact</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		<body>
			<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
			<script src="bootstrap/js/bootstrap.js"></script>
			{{ content }}

			<!-- /.container -->
		</body>

	{% include footer.html %}


</html>
