<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" href="bootstrap/css/bootstrap.css">
			<link rel="stylesheet" type="text/css" href="/css/index.css">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700|Roboto">
		</head>
		<header>
			<nav align="right">
	    		<ul>
		        	<li><a href="/about">works</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/contact">contact</a></li>
	    		</ul>
			</nav>
		</header>
		<body>

			{{ content }}

			<!-- /.container -->
		</body>
		<footer>
			<ul>
				<li><a href="mailto:hankquinlanhub@gmail.com">linked in</a></li>
				<li><a href="https://github.com/silviafuen/silviafuen.github.io"><img src="images/icons/github.png" class="inline"></a></li>
				<li><a href="https://github.com/hankquinlan">behance</a></li>
				<li><a href="https://github.com/hankquinlan">email</a></li>
			</ul>
			<p>silviafuentes.me © 2017 </p>
		</footer>
	</html>
